<!-- Services Start -->
<div class="container-fluid bg-light pt-5">
  <div class="container py-12">
    <div class="d-flex flex-column text-center mb-5">
      <h1 class="text-secondary mb-3">Our Services</h1>
    </div>
    <div class="row pb-3">
      <div class="col-md-6 col-lg-6 mb-6">
        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
          <h3
            class="flaticon-house display-3 font-weight-normal text-secondary mb-3"
          ></h3>
          <h3 class="mb-3">Pet Adoption</h3>
          <p>
            Find your perfect furry match at Second Chance's adoption service.
            Discover a lifetime of love and companionship in just one visit.
            Fall in love with our rescuees and give them love they deserve.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-6">
        <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
          <h3
            class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"
          ></h3>
          <h3 class="mb-3">Pet Therapy</h3>
          <p>
            Whether you're seeking emotional support or simply a furry friend to
            brighten your day, our pet therapy service with specially trained
            animals offers comfort and companionship like no other.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services End -->

<!-- Booking Start -->
<div class="container-fluid">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="bg-primary py-5 px-4 px-sm-5">
          <form class="py-5" id="booking-form">
            <div class="form-group">
              <input
                name="name"
                type="text"
                class="form-control border-0 p-4"
                placeholder="Your Name"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                name="email"
                type="email"
                class="form-control border-0 p-4"
                placeholder="Your Email"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                name="date"
                type="text"
                class="form-control border-0 p-4"
                placeholder="Date"
                required="required"
              />
            </div>
            <div class="form-group">
              <select
                name="service_ID"
                class="custom-select border-0 px-4"
                style="height: 47px"
              >
                <option selected>Select A Service</option>
                <option value="3">Adoption dogs</option>
                <option value="2">Adoption cats</option>
                <option value="1">Pet Therapy</option>
              </select>
              <div class="alert alert-success" role="alert">
                Booking created successfully!
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="alert alert-danger" role="alert">
                Error creating booking. Please try again later.
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div>
              <button
                class="btn btn-dark btn-block border-0 py-3"
                type="submit"
              >
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
        <h1 class="display-4 mb-4">
          Get Your <span class="text-primary">New Best Friend</span>
        </h1>
        <p>
          Reserve your spot for adoption or pet therapy sessions effortlessly
          with our user-friendly booking reservation form. Simply provide your
          details, select your preferred service, and choose a convenient time
          slot to begin your journey with us.
        </p>
        <div class="row py-2">
          <div class="col-sm-6">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <h1
                  class="flaticon-house font-weight-normal text-secondary m-0 mr-3"
                ></h1>
                <h5 class="text-truncate m-0">Pet Adoption</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <h1
                  class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"
                ></h1>
                <h5 class="text-truncate m-0">Pet Therapy</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
