<!-- Services Start -->
<div class="container-fluid bg-light pt-5">
  <div class="container py-5" id="dog-adoption-section">
    <div class="d-flex flex-column text-center mb-5">
      <h4 class="text-secondary mb-3">Our Services</h4>
      <h1 class="display-4 m-0">
        <span class="text-primary">Dog</span> Adoption
      </h1>
    </div>
    <div class="row" id="dogs-row"></div>
    <div class="row" id="dogs-row"></div>
  </div>
  <div class="container-fluid bg-light pt-5" id="cats-adoption-section">
    <div class="container py-1">
      <div class="d-flex flex-column text-center mb-5">
        <h1 class="display-4 m-0">
          <span class="text-primary">Cat</span> Adoption
        </h1>
      </div>
      <div class="row" id="cats-row"></div>
      <div class="row" id="cats-row"></div>
    </div>
  </div>
  <div class="container-fluid bg-light pt-5" id="pet-therapy">
    <div class="container py-1">
      <div class="d-flex flex-column text-center mb-5">
        <h1 class="display-4 m-0">
          <span class="text-primary">Pet</span> Therapy
        </h1>
      </div>
      <div class="row" id="therapy-row"></div>
    </div>
  </div>
</div>

<!-- Services End -->
